* {
    box-sizing: border-box;
}
body {
    font-family: 'Gothic A1', sans-serif;
}
#columns {
    column-width: 350px;
    /* border: 1px solid #820024; */
    column-gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#columns figure {
    display: inline-block;
    border: 1px solid #820024;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px lightgray;
}
#columns figure img {
    width: 100%;
}
#columns figure figcaption {
    border-top: 1px solid gray;
    padding: 5px;
    background-color: #f7f7f7;
}
.kiwoom {
    font-weight: bold;
    color: #820024;
}